
.logo{
	padding-top: 60px;
}

.nav{
	ul{
		li{
			display:inline-block;
			list-style: none;
			padding-top: 30px;
			padding-bottom: 30px;
			padding-right: 15px;
			padding-left: 15px;
			a{
				color:$grisOscuroTitulos;
				font-size:$texto;
				font-weight: 700;
			}
		}
	}
}

.podcast{
	width:100%;
	padding:40px;
	img{
		width:100%;
		padding-bottom: 30px;

	}
	.textosPodcast{
		padding-left: 11px; 
		h1{
			color: $grisOscuroTitulos;
			font-style: $titulo;
			font-weight: 400;
		}
		h2{
			color:$grisOscuroTitulos;
			font-size: $subtitulo;
			font-weight: 700;
		}
		p{
			color: $grisTexto;
			font-size: $texto;
			width: 81%;
		}
		small{
			font-family: 'Droid Sans Mono', monospace;
		}
	}
}

.newsfeed{
	border-top: 3px solid $azul;
	@include contenedores();
}
.news-izq{
	.img-caja{
		width:100%;
	}
	@include cajas();
	h3{
		padding-bottom: 30px;
	}
}
.news-der{
	padding-bottom:40px;
	padding-top:30px;
	.morenews{
		.more{
			a{
				text-decoration: none;
				color: $azul;
			}
		}
	}
	.news{
		padding-bottom: 30px;
		small{
			font-family: 'Droid Sans Mono', monospace;
			padding-bottom: 10px; 
		}
		h3{
			font-size: $subtitulo2;
			padding-bottom: 3px;
			font-weight: 700;
		}	
	}
	.news-recuadro{
		background-color: $recuadro;
		padding: 5px;
		.row{
			.textRec{
				padding-left:35px;
				padding-right:35px;
			}
			.imgRec{
				padding-right:35px;
				padding-left:200px;
			}
		}
	}
}
.trabajos{
	@include contenedores();
	.row{
		.col-6{
			.caja-trabajos{
				@include cajas();
				padding-bottom: 50px;
				small{
					padding-top: 20px;
				}
			}
		}

	}

}
.footer-google{
	padding:40px;
	.row{
		padding-bottom: 40px;
		.col-3{
			small{
				font-weight: 700;
			}
			p{
				font-size: 13px;
			}
			ul{
				li{
					list-style: none;
					a{
						color: $grisOscuroTitulos;
						font-size: 13px

					}
				}
			}
		}
	}
}
.caja-links2{
	padding-left: 70px;
}
.caja-links3{
	padding-left: 230px;
}
.caja-links4{
	padding-top: 30px;
	padding-right: 120px; 
	padding-left: 0px;
}
.footer-final{
	padding: 40px;
	border-top: 3px solid #E6E6E6;
}