
.logo{
	padding-top: 60px;
}

.nav{
	ul{
		li{
			display:inline-block;
			list-style: none;
			padding-top: 30px;
			padding-bottom: 30px;
			padding-right: 15px;
			padding-left: 15px;
			a{
				color:$grisOscuroTitulos;
				font-size:$texto;
				font-weight: 700;
			}
		}
	}
}

.podcast{
	width:100%;
	padding: 40px;
	img{
		width:100%;
	}
	.textosPodcast{
		padding-left: 11px; 
		h1{
			color: $grisOscuroTitulos;
			font-style: $titulo;
			font-weight: 400;
			padding-top: 40px;
		}
		h2{
			color:$grisOscuroTitulos;
			font-size: $subtitulo;
			font-weight: 700;
		}
		p{
			color: $grisTexto;
			font-size: $texto;
			width: 81%;
		}
		small{
			font-family: 'Droid Sans Mono', monospace;
		}
	}
}